<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="logo"><span>Registro de Adopción</span></h1>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 2 page">
    <div class="clase1">
      <informacion-resgistro class="contact-wrapper animated bounceInUp">
      </informacion-resgistro>
  </div>
  </app-explore-container>
</ion-content>

<script type="text/javascript" src="contactos.js"></script>