
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="inicio.component.scss">
</head>
<header class="bg_animate">
  <section class="banner contenedor">
      <section class="banner_title">
          <h2>¿Quieres adoptar una mascota?</h2>
      </section>
      <div class="banner_img"><br><br>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/Jv1iolzbvZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </section>
</header>
<main>
  <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestra razón de ser</h2>
      <div class="contenedor-sobre-nosotros">
          <div class="contenido-textos">
              <h3><span>1</span>Importancia</h3>
              <p>La adopción de mascotas es el mayor acto de amor y solidaridad que puedes hacer por un animal.
                  Sobre todo, si ha sido rescatado de las calles y necesita un hogar. Tú puedes hacer la
                  diferencia al adoptar y brindarle una mejor calidad de vida. Además, podrás disfrutar de todos
                  los beneficios de tener una mascota.</p>
              <h3><span>2</span>¿Por qué adoptar?</h3>
              <p>- Salvas una vida. <br>
                  - Te hacen compañía. <br>
                  - Le das oportunidad a otros. <br>
                  - Te ayudan a distraerte. <br>
                  - Te brindan amor incondicional</p>
          </div>
      </div>
  </section>
</main>
