<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Bulldog</ion-card-title>
    <center><img src="assets/img/bulldog.jpg" alt=""></center>

  </ion-card-header>

  <ion-card-content>
    El bulldog o bulldog inglés —en inglés: English Bulldog— es una raza canina originaria del Reino Unido. Su ancestro, conocido como el Antiguo Bulldog Inglés, fue utilizado en peleas de perros con toros hasta mediados del siglo XVII, aunque
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Retriever</ion-card-title>
    <center><img src="assets/img/retriever.jpeg" alt=""></center>

  </ion-card-header>

  <ion-card-content>
    Perro cobrador —en inglés: Retriever— es como se denomina a un tipo de perro de caza que recupera presa para un cazador.​Por lo general, los perros de caza se dividen en tres categorías principales: perro cobrador o perdiguero, perro de aguas y perro de muestra.
  </ion-card-content>
</ion-card>


