
<div id="conte">
<ion-item>
  <ion-label position="stacked">Nombre</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Apellido</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>
</div>

<br>

<div id="conte">
<ion-item>
  <ion-label position="stacked">Dirección</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Cedula</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>

</div>
<br>
<div id="conte">
<ion-item>
  <ion-label position="stacked">Correo</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Teléfono</ion-label>
  <ion-input color="medium" size="30px"></ion-input>
</ion-item>
</div>

<br>
<ion-item>
  <ion-label>Servicio de entrenamiento</ion-label>
  <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Servicio de veterinaria</ion-label>
  <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Servicio de PET-shop</ion-label>
  <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
</ion-item>

<br>





